@use "../styles/" as *;
$color-dot: rgb(37, 34, 118);
$color-dot: white;
.slider {
    // background-color: red;
    margin: 10px;
    @include desktop-view() {
        // width: 55vw;
        width: 59%;
        max-width: 110rem;
    }
    &-image {
        width: 100%;
        @include desktop-view() {
            max-width: 110rem;
            // width: 47vw;
        }
    }
}

.slick-dots {
    bottom: 30px;
}

.slick-dots li button:before {
    transform: scale(200%);
    color: $color-dot;
}

.slick-dots li.slick-active button:before {
    color: $color-dot !important;
}