@use "./styles/" as *;
* {
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 3840px;
    // margin: auto;
    color: white;
    font-size: 1.25rem;
    @include desktop-view() {
        font-size: 1vw;
    }
}

.top-section {
    display: flex;
    // max-width: 2190px;
    // background-color: green;
    flex-direction: column;
    margin: 0 auto;
    object-fit: scale-down;
    @include desktop-view() {
        flex-direction: row;
        align-items: center;
    }
}

.body-section {
    @include tablet-view() {
        margin-left: 250px;
    }
}