@use "./styles/" as *;
* {
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 1440px;
    margin: auto;
    color: white;
}

.top-section {
    display: flex;
    flex-direction: column;
    @include desktop-view() {
        flex-direction: row;
        align-items: center;
    }
}